<!-- Handlebars uses doble curly braces to output variable values stored in the context -->
<h1>{{ title }}</h1>
<article> 

<!-- Handlebars used triple curly braces to output HTML text directly without scaping -->
{{{ content }}} 

</article>  